<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Tag" name="tag" id="post_tag" type="text" class="validate">
                    <label for="post_tag">Post tag</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="text" id="post_text" type="text" class="validate">
                    <label for="post_text">Post text</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <h1>Список постов:</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tag</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td>{{tag}}</td>
                <td>{{text}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>